<!DOCTYPE html>
<html lang="en" ng-app="pivotdash"  ng-controller="MainController">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<title>YAAYAYAYAYA</title>

	<!-- Project CSS -->

    <!-- FONT -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="css/main.css" rel="stylesheet" media="screen">
	
    <!-- Bootstrap -->

    <!-- JQUERY CSS -->
	<link href="lib/jquery/jquery-ui.css" rel="stylesheet" media="screen">
	
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1 btn" ng-click="moveToPast()">
				<div><span class="glyphicon glyphicon-chevron-left"></span></div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="row">
					<div class="col-md-3 col-sm-3" ng-repeat="part in yearRange">
						<span ng-show="part.months[0] == 'January' || part.months[0] == 'July'">{{part.year}}</span>
						<br ng-hide="part.months[0] == 'January' || part.months[0] == 'July'">
						<div class="row">
							<div class="col-md-4 col-sm-4" ng-repeat="month in part.months">
								{{month}}
								<div class="row">
									<div class="col-md-12">
										<span ng-show="determineToday(month, part.year)">{{today | date:'MMMM d'}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 btn" ng-click="moveToFuture()">
				<div<span class="glyphicon glyphicon-chevron-right"></span></div>
			</div>
		</div>
	</div>
		<button class="btn btn-lg btn-warning" ng-click="setupTop()">GOTO TODAY</button>
		<button class="btn btn-lg btn-warning pull-right" ng-click="gotoDate()">GOTO DATE</button>
		<input type="text" datepicker="" ng-model="test">





	<!-- DIV to replace insert templates into -->
	<!-- <div ng-view class="mainSection"></div> -->

	<!-- Common Footer -->
	<!-- Probably do not use in this application -->
	<footer></footer>
	<!-- JQUERY -->
	<script src="lib/jquery1.9.1.min.js"></script>
	<script src="lib/jquery-ui-1.10.3.custom.min.js"></script>
	<!-- ANGULARJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
	<!-- Project JS -->
	<script src="src/controllers/mainctrl.js"></script>
	<script src="src/filter.js"></script>
	<script src="src/directive.js"></script>
	<script src="src/pivotdash.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>